<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.0" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="3.0.0" targetFramework="net452" />
  <package id="Xamarin.Forms" version="3.3.0.967583" targetFramework="net452" requireReinstallation="true" />
</packages>